## Project-Step 1

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from ydata_profiling import ProfileReport

###  1. Descriptive analysis of your data.

In [22]:
df = pd.read_csv("wine+quality\winequality-red2.csv", sep=';')

In [23]:
display(df.head())

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.7,0.56,0.08,2.50,0.114,14.0,46.0,0.9971,3.24,0.66,9.6,6.0
1,7.8,0.50,0.17,1.60,0.082,21.0,102.0,0.9960,3.39,0.48,9.5,5.0
2,10.7,0.67,0.22,2.70,0.107,17.0,34.0,1.0004,3.28,0.98,9.9,6.0
3,8.5,0.46,0.31,2.25,0.078,32.0,58.0,0.9980,3.33,0.54,9.8,5.0
4,6.7,0.46,0.24,1.70,0.077,18.0,34.0,0.9948,3.39,0.60,10.6,6.0

In [24]:
# Informations générales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1519 entries, 0 to 1518
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1401 non-null   float64
 1   volatile acidity      1401 non-null   float64
 2   citric acid           1401 non-null   float64
 3   residual sugar        1401 non-null   float64
 4   chlorides             1401 non-null   float64
 5   free sulfur dioxide   1401 non-null   float64
 6   total sulfur dioxide  1401 non-null   float64
 7   density               1401 non-null   float64
 8   pH                    1401 non-null   float64
 9   sulphates             1401 non-null   float64
 10  alcohol               1401 non-null   float64
 11  quality               1401 non-null   float64
dtypes: float64(12)
memory usage: 142.5 KB

In [16]:
print("\nShape :", df.shape)

Shape : (1519, 1)

In [17]:
print("\nRésumé statistique :")
display(df.describe(include='all'))

Résumé statistique :

       fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
count                                        1401.000000
mean                                            5.648108
std                                             0.809549
min                                             3.000000
25%                                             5.000000
50%                                             6.000000
75%                                             6.000000
max                                             8.000000

In [18]:
display(df.isnull().sum())

fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"    118
dtype: int64